.container { 
    width: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8;
    margin-bottom: 0;
}
.token { 
    width: 32%; 
    border: 1px solid red; 
    margin-left: 100px;
    float:left;
    text-align: center;
    padding: 50px 44px 50px 0px;
    font-size: x-large;
}
#message {
    text-align: center;
}